body {
    margin-top: 70Px;
    background-color: antiquewhite;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 20px - 20px);

    height: 50px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(51, 38, 38);
    display: flex;
    justify-content: space-between;
    z-index: 2;
    align-items: center;
}

.logo {
    width: 125Px;
}

.Busqueda {
    height: 30px;
    width: 400px;
    text-align: center;
}

.secciones {
    display: inline;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.separador {
    color: aliceblue;
    margin: 5px;
}

body {
    align-content: center;
    width: 80%;
    margin: 0 auto;
}

#destacados {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;

}

.titulos {
    text-align: center;
    margin-top: 90px;
}

#platossug {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

#destacados .rectangulo:hover{
    scale: 110%;
}

.card {
    border: 1px solid black;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color:lightsalmon;
    position: relative;
}

.card img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card:hover{
    scale: 107%;
    cursor: pointer;
}
.rectangulo {
    width: 400px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
}

#seccion-top-recetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.toprec {
    width: 190px;
    margin: 5px;
    height: 267px;
}

.toprec p {
    text-align: center;
}

#contenedor{
    background-color: white;
}

.img-cuadrad-s {
    width: 190px;
    height: 190px;
    overflow: hidden;
}

.toprec .cal{
    width: 20px;
}

.horz{
    display: flex;
    justify-content: center;
}

table tr td {
    border: 1px solid black;

}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.styled-table {
    border-collapse: collapse;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color:chocolate;
    color: #ffffff;
    text-align: middle;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#sobnost{
    background-color: chocolate;
}