body {
    margin-top: 70Px;
    background-color: antiquewhite;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 20px - 20px);

    height: 50px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(51, 38, 38);
    display: flex;
    justify-content: space-between;
    z-index: 2;
    align-items: center;
}

.logo {
    width: 125Px;
}

.Busqueda {
    height: 30px;
    width: 400px;
    text-align: center;
}

.secciones {
    display: inline;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.separador {
    color: aliceblue;
    margin: 5px;
}

body {
    align-content: center;
    width: 80%;
    margin: 0 auto;
}

#destacados {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;

}

.titulos {
    text-align: center;
    margin-top: 90px;
}

#platossug {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

.card {
    border: 1px solid lightsalmon;
    border-radius: 60px;
    width: 120px;
    height: 120px;
    background-color: lightsalmon;
    position: relative;
}

.card img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rectangulo {
    width: 400px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
}

#seccion-top-recetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.toprec {
    width: 200px;
    margin: 5px;
}

.toprec p {
    text-align: center;
}

.img-cuadrad-s {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

table tr td {
    border: 1px solid black;

}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}